.header-backdrop{
    background: purple;
    color: white;
    box-shadow: 4px 2px 5px gold;
    padding: .4rem .1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;

}

.header-image-left{
    height: 46px;
    padding-left: 2rem;
}

.header-image-right{
    height: 46px;
    padding-right: 2rem;
}

.header-wordle{
    font-weight: bold;
}
