.letter-val {
    flex: 33%;
    height: 100%;
    border: 1px solid gold;
    border-radius: 5px;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  #correct {
    background-color: darkgreen;
  }
  
  #almost {
    background-color: darkgoldenrod;
  }
  
  #wrong {
    background-color: black;
  }
  